<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!-- Product Components-->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="MainAppShortcut" />
      
    </ComponentGroup>

    <!-- Installed Files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\DnDAssistant.Wpf\bin\Debug\">
      
      <!--Shortcut-->
      <Component Id="MainAppShortcut" Guid="{8E7AE479-D3E4-4702-99F6-E03B03E91DC0}">
        
        <Shortcut Id="MainAppShortcut" 
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]DnDAssistant.Wpf.exe"
                  Directory="ProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  />

        <!-- Our unique key for this component-->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>
        
        <!-- Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="ProgramMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
