<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!-- Product Components-->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="MainAppShortcut" />

      <!-- Add componentref for every file that needs to be installed-->
      <ComponentRef Id="Exe"/>
      <ComponentRef Id="DnDAssistant.core.dll"/>
      <ComponentRef Id="DnDAssistant.core.pdb"/>
      <ComponentRef Id="DnDAssistant.Wpf.exe.config"/>
      <ComponentRef Id="DnDAssistant.Wpf.pdb"/>
      <ComponentRef Id="Ninject.dll"/>

      <!--Resource files -->
      <ComponentRef Id="ParchmentTexture.jpg"/>
      <ComponentRef Id="Wallpaper.jpg"/>
      
    </ComponentGroup>

    <!-- Installed Files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\DnDAssistant.Wpf\bin\Debug\">
      
      <!--Shortcut-->
      <Component Id="MainAppShortcut" Guid="{8E7AE479-D3E4-4702-99F6-E03B03E91DC0}">
        
        <Shortcut Id="MainAppShortcut" 
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]DnDAssistant.Wpf.exe"
                  Directory="ProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  />

        <!-- Our unique key for this component-->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>
        
        <!-- Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="ProgramMenuFolder" On="uninstall"/>
      </Component>

      <!--Exe file-->
      <Component Id="Exe" Guid="{9530CB33-701E-48E5-BA2E-ECEC3FE00EE6}">
        <File Id="ExeFile" Name="DnDAssistant.Wpf.exe" KeyPath="yes"/>
      </Component>

      <Component Id="DnDAssistant.core.dll" Guid="{E2F7BB71-6EDA-41F4-83B2-0ADA35DAF6BA}">
        <File Id="DnDAssistant.core.dllFile" Name="DnDAssistant.Core.dll" KeyPath="yes"/>
      </Component>

      <Component Id="DnDAssistant.core.pdb" Guid="{D163EFC2-6CC0-424F-9581-5B97B99499DF}">
        <File Id="DnDAssistant.core.pdbFile" Name="DnDAssistant.Core.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="DnDAssistant.Wpf.exe.config" Guid="{3AB140AD-58E5-42E6-A959-35AF5C2C406A}">
        <File Id="DnDAssistant.Wpf.exe.configFile" Name="DnDAssistant.Wpf.exe.config" KeyPath="yes"/>
      </Component>

      <Component Id="DnDAssistant.Wpf.pdb" Guid="{C5DCF35C-1111-4F89-BE09-0F20714CC5D3}">
        <File Id="DnDAssistant.Wpf.pdbFile" Name="DnDAssistant.Wpf.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="Ninject.dll" Guid="{19FA88AF-7D62-492F-94F5-FB2DE047654C}">
        <File Id="Ninject.dllFile" Name="Ninject.dll" KeyPath="yes"/>
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="INSTALLRESOURCEFOLDER" FileSource="..\DnDAssistant.Wpf\bin\Debug\Resources\">

      <Component Id="ParchmentTexture.jpg" Guid="{AC463442-091F-4805-BF98-970A7AAD82E7}">
        <File Id="ParchmentTexture.jpgFile" Name="ParchmentTexture.jpg" KeyPath="yes"/>
      </Component>

      <Component Id="Wallpaper.jpg" Guid="{578C9202-AAFD-4C02-BDB8-585D3351F687}">
        <File Id="Wallpaper.jpgFile" Name="Wallpaper.jpg" KeyPath="yes"/>
      </Component>
      
    </DirectoryRef>
  </Fragment>

</Wix>
