<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpD8ACFD45C717BF9077F9AC5A0F8A1570" Guid="{4471C971-0435-4B3D-99EE-9F326C142C3B}">
                <File Id="fil53DDFB55BA0B4DACA1A0D95601D1B2FD" KeyPath="yes" Source="$(var.BasePath)\DnDAssistant.Core.dll" />
            </Component>
            <Component Id="cmp8A8EF18FD88CFAD3783C4443E4D65EBC" Guid="{5D42E69B-9603-4C59-BC66-F02B3B1BA22D}">
                <File Id="filBBF04348B8D03FE9F5A0BD69E0ED8A53" KeyPath="yes" Source="$(var.BasePath)\DnDAssistant.Core.pdb" />
            </Component>
            <Component Id="cmp3FEAA74A1C9FDFC99F7E49A6D811CF4E" Guid="{DA3B1409-26D8-4792-8BF4-F01ABDA4771A}">
                <File Id="fil4032CB93FE1F9060643583B4D99538AD" KeyPath="yes" Source="$(var.BasePath)\DnDAssistant.Wpf.exe" />
            </Component>
            <Component Id="cmpB540AE00A544051224FD9760A5B7F856" Guid="{F8D844C5-0957-4159-8CF2-67EFB5D48C0E}">
                <File Id="filE096C9036F162185E2160C64B1B01C90" KeyPath="yes" Source="$(var.BasePath)\DnDAssistant.Wpf.exe.config" />
            </Component>
            <Component Id="cmp5273D419DAAB419EA5089B7728D03A62" Guid="{D7BE3F05-6088-4BA4-8644-A8DDF94ABC9B}">
                <File Id="fil1EF581FE08A30F3116CFED1514486541" KeyPath="yes" Source="$(var.BasePath)\DnDAssistant.Wpf.pdb" />
            </Component>
            <Component Id="cmp3464F8730E573D338954EC7195CFB4A4" Guid="{3656E01C-90CD-41C9-AAD0-3A9004E3BC9D}">
                <File Id="fil73F07CE42A5EF653313AD307E0E68BDC" KeyPath="yes" Source="$(var.BasePath)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmp667CB89A1E43303706D5205D8E0E018B" Guid="{50AAF72C-844B-4F19-9F88-21E19E9774B2}">
                <File Id="fil06CC2F39CCEE24EF8EEA281FA58DF9BF" KeyPath="yes" Source="$(var.BasePath)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmp84595EB24158D437D55D4B199DB77E9E" Guid="{495722CF-5F8F-41EA-8A15-3B14175CB591}">
                <File Id="fil6C8A65D85DCB0034831F2345D27DEF38" KeyPath="yes" Source="$(var.BasePath)\HtmlAgilityPack.xml" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{71751C74-3CB3-4750-99EB-CE4D3DFD3260}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.BasePath)\Ninject.dll" />
            </Component>
            <Directory Id="dir41772C233BE465DE0D167364B3BB566C" Name="Resources">
                <Component Id="cmpBC13567A85F32549CED6750D3E740DD3" Guid="{0DFB2451-13D8-4C9B-8A06-EE7CD807EE2F}">
                    <File Id="filCDBC2A86DD3E787F7CF642690CD36438" KeyPath="yes" Source="$(var.BasePath)\Resources\dnd.jpg" />
                </Component>
                <Component Id="cmp094619AA5998FC66E514B1D4C7F94ED6" Guid="{452A017B-D5C1-41F5-990D-E114CE95BA0D}">
                    <File Id="fil61901D4B8019277C01D188BDF5E1CA09" KeyPath="yes" Source="$(var.BasePath)\Resources\ParchmentTexture.jpg" />
                </Component>
                <Component Id="cmp165A05F769E1D2E848CF387616653964" Guid="{A8288BA0-CFCD-4C25-A9EA-267DBC96BA48}">
                    <File Id="fil406A523D900CEE682903D8A6036E55E8" KeyPath="yes" Source="$(var.BasePath)\Resources\Wallpaper.jpg" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpD8ACFD45C717BF9077F9AC5A0F8A1570" />
            <ComponentRef Id="cmp8A8EF18FD88CFAD3783C4443E4D65EBC" />
            <ComponentRef Id="cmp3FEAA74A1C9FDFC99F7E49A6D811CF4E" />
            <ComponentRef Id="cmpB540AE00A544051224FD9760A5B7F856" />
            <ComponentRef Id="cmp5273D419DAAB419EA5089B7728D03A62" />
            <ComponentRef Id="cmp3464F8730E573D338954EC7195CFB4A4" />
            <ComponentRef Id="cmp667CB89A1E43303706D5205D8E0E018B" />
            <ComponentRef Id="cmp84595EB24158D437D55D4B199DB77E9E" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmpBC13567A85F32549CED6750D3E740DD3" />
            <ComponentRef Id="cmp094619AA5998FC66E514B1D4C7F94ED6" />
            <ComponentRef Id="cmp165A05F769E1D2E848CF387616653964" />
        </ComponentGroup>
    </Fragment>
</Wix>