<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Give product a unique id per platform-->
  <?if $(var.Platform) = x64 ?>
  <?define ProductCode = "{EEB4A80E-95B7-4200-9E45-485C81004EBE}"?>
  <?else?>
  <?define ProductCode = "{12E0BB84-7711-456D-874A-3906C4D82247}"?>
  <?endif?>
  
  <!-- Fixed upgrade id-->
  <?define UpgradeCode = "{94AA90E1-C85A-43BC-BF64-014350845409}"?>

  <!-- Define main product-->
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    <!-- Provide package details -->
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
             />

    <!-- Downgrade error message -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
    <!-- Include .cab file into .msi file-->
		<MediaTemplate 
      EmbedCab="yes"
      />

    <!-- Define main icon -->
    <Icon Id="icon.ico" SourceFile="$(var.DnDAssistant.Wpf.ProjectDir)\app.ico"/>

    <!-- Use the icon.ico icon for this installer-->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!-- Help website (shows in the add/remove programs) -->
    <Property Id="ARPURLINFOABOUT">https://github.com/yurevdb/Dungeoneers-Assistant/wiki</Property>
    
    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal"/>
    <!-- License -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>
    
    <!-- Custom banners, bitmap, Background is 493x312, Banner is 493x53 -->
    <!-- Background -->
    <!--<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>-->
    <!--<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>-->

    <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="Dungeoneers Assistant" Level="1">
      
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents"/>
      
		</Feature>
    
	</Product>

</Wix>
